n8n/reply_to_email.json
{
  "name": "이메일 답장",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        -96
      ],
      "id": "1f9b284c-c951-4c9c-b2ec-dcec59f273d3",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "OXslEyt4UIJVHUXL",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        240,
        128
      ],
      "id": "f9e54b1f-2c1a-469a-9538-3ebb163d27d0",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "UAWpNwMCLySTsnwy",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"need_reply\": {\n\t\t\t\"type\": \"boolean\"\n\t\t}\n\t}\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        368,
        128
      ],
      "id": "2e80216c-fd23-48cc-8db6-e6f07e34d4f4",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=아래 이메일 내용을 보고, 답장이 필요한 이메일인지 판단해주세요.\n\n1. 업무 협업 메일에는 답장을 해야합니다.\n2. 마케팅이나 뉴스레터의 경우에는 답장을 할 필요가 없습니다.\n\n이메일 내용:\n{{ $json.text }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "당신의 업무는 이메일 답장여부를 결정하는 것입니다. 답장이 필요하다면 true, 답장이 필요 없다면 false 를 리턴해주세요."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        224,
        -96
      ],
      "id": "16e88a1b-2b15-472e-9b3c-41644df077a4",
      "name": "답장 여부 판단"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7b084780-29cc-4a21-aecf-03665f8c1b86",
              "leftValue": "={{ $json.output.need_reply }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        576,
        -96
      ],
      "id": "7fce1716-17d4-4d53-bb7c-c74252c74bbc",
      "name": "답장 필요 여부"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=아래 이메일을 보고 답장을 작성해 주세요.\n\n최근 메일:\n{{ $('Gmail Trigger').item.json.text }}\n\n이메일 히스토리:\n{{ $json.messages.filter(item => item.snippet) }}",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1024,
        -96
      ],
      "id": "18635b9c-c656-40dd-9389-edbbbfd8131c",
      "name": "이메일 답장 작성"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1040,
        128
      ],
      "id": "fb4c0acf-7ead-4b4a-bc27-fa334a13ad62",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "UAWpNwMCLySTsnwy",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "get",
        "threadId": "={{ $('Gmail Trigger').item.json.threadId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        800,
        -96
      ],
      "id": "9ad91495-79c4-4849-ad54-57f5907838a5",
      "name": "Get a thread",
      "webhookId": "5253da81-59df-46c0-9ad3-ef53f0201b62",
      "credentials": {
        "gmailOAuth2": {
          "id": "OXslEyt4UIJVHUXL",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"title\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"content\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t}\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1168,
        128
      ],
      "id": "7f690406-2153-43a6-8f5c-d78906ff9375",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $json.output.title }}",
        "message": "={{ $json.output.content }}",
        "options": {
          "threadId": "={{ $('Gmail Trigger').item.json.threadId }}",
          "sendTo": "={{ $('Gmail Trigger').item.json.from.value[0].address }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1376,
        -96
      ],
      "id": "41d61a82-e1d7-4f83-94be-3d1eaac550d8",
      "name": "Create a draft",
      "webhookId": "63080e0a-0c48-4d8b-ab27-7f4b3aff6088",
      "credentials": {
        "gmailOAuth2": {
          "id": "OXslEyt4UIJVHUXL",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "답장 여부 판단",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "답장 여부 판단",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "답장 여부 판단",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "답장 여부 판단": {
      "main": [
        [
          {
            "node": "답장 필요 여부",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "답장 필요 여부": {
      "main": [
        [
          {
            "node": "Get a thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "이메일 답장 작성",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get a thread": {
      "main": [
        [
          {
            "node": "이메일 답장 작성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "이메일 답장 작성",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "이메일 답장 작성": {
      "main": [
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "aa97e64e-9127-40ee-bbca-8cbe67698f50",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "58539c9ed2495393c7d57a5cf3bb4571c2152ab782e2d8382c9e454ab731b748"
  },
  "id": "FPkaoPy5W5e2AtqW",
  "tags": []
}