n8n/scrap_news.json
{
  "name": "뉴스 수집",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 16
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        128
      ],
      "id": "0255b781-26ae-4596-97e7-2588c555673c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=아래 뉴스기사가 긍정(positive)인지, 부정(negative)인지, 중립(neutral)인지 판단해서, 영어로 리턴해주세요.\n\n뉴스기사 정보\n제목:  {{ $json.title }}\n기사 내용: {{ $json.description }}\n기사 링크: {{ $json.url }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "Your job is to analyze sentiment of a given news article and determine whether it is positive, negative, or neutral. The goal of this analysis is to report to executives whether our company is perceived as positive or negative. So please do your best to analyze sentiment of the given news articles."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        896,
        0
      ],
      "id": "fe71c62c-8d75-4d1d-ab9a-aff916d43bfc",
      "name": "뉴스 감정 분석"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano-2025-04-14",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano-2025-04-14"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        912,
        224
      ],
      "id": "cfe75629-a4dd-43f3-b814-410a4183b4b7",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "UAWpNwMCLySTsnwy",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "news",
        "query": "ogq 그라폴리오",
        "count": 7
      },
      "type": "@brave/n8n-nodes-brave-search.braveSearch",
      "typeVersion": 1,
      "position": [
        224,
        128
      ],
      "id": "be9e2386-dd0b-4ab8-b9d3-b403d2d82acb",
      "name": "뉴스 검색",
      "credentials": {
        "braveSearchApi": {
          "id": "TKNaUXsGzJzonRgN",
          "name": "Brave Search account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        672,
        128
      ],
      "id": "945d2c41-1590-4f97-844d-2c3332b82531",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "return $input.first().json.results"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        128
      ],
      "id": "edca17b8-bea6-4f12-8d09-70080a94124d",
      "name": "Code"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"sentiment\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t}\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1040,
        224
      ],
      "id": "de21133b-13d0-4f02-8aa2-0ef4f94ddd32",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1chhEsaxWfyBO_FAUMtOUribqPQFuH9Psh19HkjDHZFo",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "시트1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1chhEsaxWfyBO_FAUMtOUribqPQFuH9Psh19HkjDHZFo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "감정": "={{ $json.output.sentiment }}",
            "제목": "={{ $('Loop Over Items').item.json.title }}",
            "URL": "={{ $('Loop Over Items').item.json.url }}",
            "내용": "={{ $('Loop Over Items').item.json.description }}",
            "날짜": "={{ $('Loop Over Items').item.json.age }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "제목",
              "displayName": "제목",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "내용",
              "displayName": "내용",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "감정",
              "displayName": "감정",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "날짜",
              "displayName": "날짜",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1248,
        128
      ],
      "id": "c323f9e6-53ba-4d94-aecd-3aa225d973ff",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "o0jYbMB4a9KQ0lh7",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "뉴스 검색",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "뉴스 감정 분석",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "뉴스 검색": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "뉴스 감정 분석",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "뉴스 감정 분석": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "뉴스 감정 분석",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "215a3799-7c2a-4b1f-8330-1bd47c7eb59a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "58539c9ed2495393c7d57a5cf3bb4571c2152ab782e2d8382c9e454ab731b748"
  },
  "id": "xTYTv1y52U6MLwx4",
  "tags": []
}