n8n/text_to_query_get_schema.json
{
  "name": "Text to Query(스키마 조회 추가)",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "8d69390d-a900-4003-a444-ae4a177551f2",
      "name": "When chat message received",
      "webhookId": "af03abb1-4f2a-4d8c-82b5-5737d284b6bb"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-2025-04-14",
          "mode": "list",
          "cachedResultName": "gpt-4.1-2025-04-14"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        560,
        208
      ],
      "id": "6afd6589-697f-4b90-a058-54c90a0afca8",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "UAWpNwMCLySTsnwy",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"query\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t}\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        768,
        208
      ],
      "id": "4b10acdc-f133-4f73-9e7e-0e3d2707f70b",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1120,
        208
      ],
      "id": "266cb5dc-984f-4818-8c95-f32fdf501c06",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "UAWpNwMCLySTsnwy",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').first().json.chatInput }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=DATABASE SCHEMA:\n{{ $json.schema }}\n\nLooking at the database schema above, convert a user's question into a SQL query to fetch data from the database. return the SQL query. "
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        624,
        0
      ],
      "id": "34b5034f-4c87-47a4-bfa8-e5a0e5c08d12",
      "name": "쿼리 생성"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Convert this into a user friendly message by looking at the user's original question and the query result\n\nQUERY RESULT: \n{{ $json.toJsonString() }}\n\nOriginal Question:\n{{ $('When chat message received').first().json.chatInput }}",
        "messages": {
          "messageValues": [
            {
              "message": "Look at the query result and the user's question and return a user friendly message."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1184,
        0
      ],
      "id": "219e0e38-5583-434a-8465-27d13a19b69f",
      "name": "메시지 생성"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.output.query }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        976,
        0
      ],
      "id": "0a5b04c9-a0a7-4dbb-ae3c-5af98260538e",
      "name": "쿼리 실행",
      "credentials": {
        "postgres": {
          "id": "BxZ2hizZudEjhI0G",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n      'CREATE TABLE ' || table_name || ' (' || E'\\n' ||\n      string_agg(\n          '    ' || column_name || ' ' || \n          CASE \n  WHEN data_type = 'character varying' THEN 'VARCHAR(' || character_maximum_length || ')'\n  WHEN data_type = 'integer' AND column_default LIKE 'nextval%' THEN 'SERIAL PRIMARY KEY'\n  WHEN data_type = 'numeric' THEN 'DECIMAL(' || numeric_precision || ',' || numeric_scale || ')'\n  WHEN data_type = 'timestamp without time zone' THEN 'TIMESTAMP'\n  WHEN data_type = 'boolean' THEN 'BOOLEAN'\n  ELSE UPPER(data_type)\n  END ||\n  CASE WHEN is_nullable = 'NO' AND column_default NOT LIKE 'nextval%' THEN ' NOT NULL' ELSE '' END ||\n  CASE WHEN column_default IS NOT NULL AND column_default NOT LIKE 'nextval%' \n  THEN ' DEFAULT ' || column_default ELSE '' END,\n  E',\\n' ORDER BY ordinal_position\n  ) || E'\\n' || ');' || E'\\n\\n' AS create_statement\n  FROM information_schema.columns \n  WHERE table_schema = 'public'\n  GROUP BY table_name\n  ORDER BY table_name;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        0
      ],
      "id": "0c491b92-50ed-4a26-956b-02421b1f7bb4",
      "name": "스키마 조회",
      "credentials": {
        "postgres": {
          "id": "BxZ2hizZudEjhI0G",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let schema = ''\n\nfor (const item of $input.all()) {\n  schema += `${item.json.create_statement}\\n\\n`\n}\n\nreturn [{schema}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "7b3d0a25-aa59-4df3-b26d-94be5cebeb93",
      "name": "schema text"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "스키마 조회",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "쿼리 생성",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "쿼리 생성",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "메시지 생성",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "쿼리 생성": {
      "main": [
        [
          {
            "node": "쿼리 실행",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "쿼리 실행": {
      "main": [
        [
          {
            "node": "메시지 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "스키마 조회": {
      "main": [
        [
          {
            "node": "schema text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "schema text": {
      "main": [
        [
          {
            "node": "쿼리 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6de76f15-50c3-4155-b72a-3020dc643b1c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "58539c9ed2495393c7d57a5cf3bb4571c2152ab782e2d8382c9e454ab731b748"
  },
  "id": "6Qymvum1gG0AKdQ6",
  "tags": []
}